#nav-bar{
    background-color: white;
    padding: 0;
}
.navbar-dark .navbar-nav #nav-link {
    /**color: #92278f;**/
    color: #92278f;
    font-size: large;
    padding-left: 20px;
    font-weight: bold;
}
.navbar-dark .navbar-nav #nav-link:hover{
    color: rgb(18, 166, 80);
    font-size: large;
}
.banner .text {
    color: #fff;
    line-height: 1.2em;
    font-weight: bold;
    letter-spacing: 3px;
    vertical-align: middle;
    margin-top: 100px;
    text-align: center;
}
.banner .text2{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.banner .text2{
    color: #ffffff;
    animation-name: color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes color {
    25%{
        color: #f503ef;
    }
    50% {
        color: rgb(0, 253, 107);
    }
    100% {
        color: white;
    }
}
.banner {
    height: 520px;
    background-image: url(https://rh.uvci.edu.ci/drhuvci/public/bannner_rh1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.55);
    height: 520px;
    display: table;
    color: white;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container .card .card-img-top{
    height: 160px;
}
#btn {
    background-color: rgb(18, 166, 80);
    border-color: rgb(18, 166, 80);
    color: white;
}
.container .card-title{
    color: black;
    font-weight: bold;
}
.topnav {
    background-color: #92278f;
    overflow: hidden;
    height: 10px;
}
.bottomnav {
    background-color: #E5E5E5;
}
.navbar-dark .navbar-toggler-icon {
    background-color: rgb(18, 166, 80);
    display: inline-block;
}

.navbar
